/*
* General styles:
*/
html, body {
  box-sizing: border-box;
}
/*
* End General styles
*/

/*
* Accordion component (+ form-headline):
*/
.Accordion, .form-headline {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  /*font-size: 15px;*/
  transition: 0.4s;
}

.Accordion-active, .Accordion:hover {
  background-color: #ccc;
}

.Accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.Accordion-active:after {
  content: "\2212";
}

.Accordion-panel {
  padding-bottom: 0px;
  padding-top: 0px;
  background-color: #eee;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
/*
* End Accordion
*/